<div class="bg-dark text-center py-4">
    <h3 class="text-white m-0 fw-bolder">PRODUCTOS</h3>
</div>

<div class="container-fluid p-5">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img src="../../../assets/img/producto1.jpg" class="mb-3 w-50" alt="Crema para la barba">
            <p class="m-0">Imperial</p>
            <p class="fw-bold">Crema para la barba</p>
            <p>Mantiene hidratado y suave el cabello de tu barba.</p>
            <p class="m-0 fw-bold">Precio: $100</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img src="../../../assets/img/producto2.jpg" class="mb-3 w-50" alt="Pomada para la barba">
            <p class="m-0">Imperial</p>
            <p class="fw-bold">Pomada para la barba</p>
            <p>Controla el volumen de tu barba y obtén el estilo que desees.</p>
            <p class="m-0 fw-bold">Precio: $100</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img src="../../../assets/img/producto5.png" class="mb-3 w-50" alt="Crema">
            <p class="m-0">Concha Nácar</p>
            <p class="fw-bold">Crema</p>
            <p>Ayuda a que los peinados se mantengan en su lugar y brinda un aspecto voluminoso.</p>
            <p class="m-0 fw-bold">Precio: $80</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img src="../../../assets/img/producto4.jpg" class="mb-3 w-50" alt="Bálsamo para la barba">
            <p class="m-0">Don Porfirio</p>
            <p class="fw-bold">Bálsamo para la barba</p>
            <p>Fortalece tu barba y la mantiene saludable e hidratada.</p>
            <p class="m-0 fw-bold">Precio: $100</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img src="../../../assets/img/producto9.png" class="mb-3 w-50" alt="Polvo voluminizador">
            <p class="m-0">4x4</p>
            <p class="fw-bold">Polvo voluminizador</p>
            <p>Absorbe el exceso de grasa del cuero cabelludo.</p>
            <p class="m-0 fw-bold">Precio: $150</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img src="../../../assets/img/producto6.png" class="mb-3 w-50" alt="Fibra para cabello">
            <p class="m-0">Toppik</p>
            <p class="fw-bold">Fibra para cabello</p>
            <p>Añade grosor al cabello y lo mantiene firme.</p>
            <p class="m-0 fw-bold">Precio: $80</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img src="../../../assets/img/producto7.png" class="mb-3 w-50" alt="Shampoo para barba">
            <p class="m-0">Grave before shave</p>
            <p class="fw-bold">Shampoo para barba</p>
            <p>Elimina y previene la suciedad de tu barba.</p>
            <p class="m-0 fw-bold">Precio: $130</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img src="../../../assets/img/producto8.png" class="mb-3 w-50" alt="Cera">
            <p class="m-0">Fisticuffs</p>
            <p class="fw-bold">Cera</p>
            <p>Proporciona buena fijación durante todo el día.</p>
            <p class="m-0 fw-bold">Precio: $120</p>
        </div>
    </div>
</div>