<div class="bg-dark text-center py-4">
    <h3 class="text-white m-0 fw-bolder">PRODUCTOS</h3>
</div>

<div class="container-fluid p-5">
    <div class="row d-flex justify-content-center">
        @defer () {
        <!-- Mostrar mensaje si no hay productos -->
        @if (products.length === 0) {
        <div class="col-12 text-center">
            <div class="alert">
                <h4 class="alert-heading mb-2">No hay productos disponibles</h4>
                <p>Por favor, intentalo más tarde o contactanos directamente.</p>
                <hr>
                <i class="bi bi-hand-thumbs-up-fill fs-1"></i>
                <p class="mb-0 mt-2">¡Gracias por tu comprensión!</p>
            </div>
        </div>
        }

        @for (product of products; track $index) {
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img [src]="product.images[0].imageUrl" class="mb-3 w-50" [alt]="product.name">
            <p class="m-0">{{ product.brand }}</p>
            <p class="fw-bold">{{ product.name }}</p>
            <p>{{ product.description }}</p>
            <p class="m-0 fw-bold">Precio: ${{ product.price }}</p>
        </div>
        }
        } @placeholder () {
        @for (service of [].constructor(4); track $index) {
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4 placeholder-glow">
            <div class="mb-3 w-50 placeholder" style="aspect-ratio: 1;"></div>
            <p class="placeholder col-3"></p>
            <p class="placeholder col-4"></p>
            <p class="placeholder col-7 mt-2"></p>
            <p class="placeholder col-5 mt-2"></p>
        </div>
        }
        }
    </div>
</div>