<div class="bg-dark text-center py-4">
    <h3 class="text-white m-0 fw-bolder">SERVICIOS</h3>
</div>

<div class="container-fluid p-5">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img src="../../../assets/img/servicio4.png" class="mb-3 w-50" alt="Corte desvanecido">
            <p class="fw-bold">Corte desvanecido</p>
            <p>Un corte que se caracteriza por tener un aspecto limpio y bien definido.</p>
            <p class="m-0 fw-bold">Precio: $100</p>
            <p class="m-0 fw-bold">Duración: 45 min - 1 hr</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img src="../../../assets/img/servicio2.png" class="mb-3 w-50" alt="Arreglo barba">
            <p class="fw-bold">Arreglo barba</p>
            <p>Consiste en recortar, dar forma, limpiar y peinar la barba para lograr una apariencia estilizada.</p>
            <p class="m-0 fw-bold">Precio: $70</p>
            <p class="m-0 fw-bold">Duración: 20 min</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img src="../../../assets/img/servicio5.png" class="mb-3 w-50" alt="Corte escolar">
            <p class="fw-bold">Corte escolar</p>
            <p>El corte ideal para estudiantes o niños. Mantiene el cabello corto.</p>
            <p class="m-0 fw-bold">Precio: $80</p>
            <p class="m-0 fw-bold">Duración: 30 min</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img src="../../../assets/img/servicio1.png" class="mb-3 w-50" alt="Afeitado express">
            <p class="fw-bold">Afeitado express</p>
            <p>Se elimina el vello facial de manera rápida y efectiva.</p>
            <p class="m-0 fw-bold">Precio: $90</p>
            <p class="m-0 fw-bold">Duración: 15 min - 20 min</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img src="../../../assets/img/servicio3.png" class="mb-3 w-50" alt="Arreglo cejas">
            <p class="fw-bold">Arreglo cejas</p>
            <p>Elimina el vello no deseado para dar forma y resaltar los rasgos faciales.</p>
            <p class="m-0 fw-bold">Precio: $30</p>
            <p class="m-0 fw-bold">Duración: 20 min</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img src="../../../assets/img/servicio6.png" class="mb-3 w-50" alt="Diseños">
            <p class="fw-bold">Diseños</p>
            <p>Contamos con variedad de cortes de pelo y estilos de barba. Puedes consultar con nuestros empleados el
                catálogo de cortes.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-3 text-center d-flex flex-column align-items-center p-4">
            <img src="../../../assets/img/servicio7.png" class="mb-3 w-50" alt="Mascarilla">
            <p class="fw-bold">Mascarilla</p>
            <p>Se emplea para hidratar, purificar e iluminar tu cara.</p>
            <p class="m-0 fw-bold">Precio: $70</p>
            <p class="m-0 fw-bold">Duración: 20 min</p>
        </div>
    </div>
</div>