<footer class="bg-dark text-white pt-4 pb-2">
    <div class="container">
        <div class="row">
            <!-- Logo y Descripción -->
            <div class="col-md-3">
                <a class="text-warning link-underline link-underline-opacity-0 fw-bold d-flex align-items-center mb-2">
                    <img src="../../../../assets/img/logo.png" width="32" class="me-2">
                    FLACK'S BARBER SHOP
                </a>
                <p class="small m-0">Donde el estilo y la elegancia se encuentran. Ofrecemos cortes de cabello y
                    servicios
                    de barbería de alta calidad.</p>
                <button class="btn btn-warning my-3">Hacer una reservación</button>
            </div>

            <!-- Información de Contacto -->
            <div class="col-md-3">
                <h5 class="text-center">Información de contacto</h5>
                <div class="row g-0">
                    <div class="col-auto px-2">
                        <i class="bi bi-geo-alt-fill"></i>
                    </div>
                    <div class="col">
                        Cerca de, Av 1 333, México, 94520 Córdoba, Ver.
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-auto px-2">
                        <i class="bi bi-telephone-fill"></i>
                    </div>
                    <div class="col">
                        Teléfono: +52 1 271 148 1158
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-auto px-2">
                        <i class="bi bi-envelope-fill"></i>
                    </div>
                    <div class="col">
                        Correo: flacksbarber&#64;gmail.com
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-auto px-2">
                        <i class="bi bi-clock-fill"></i>
                    </div>
                    <div class="col">
                        Horarios: Lun - Sab: 10am - 9pm, Dom: 10am - 3pm
                    </div>
                </div>
            </div>

            <!-- Redes Sociales -->
            <div class="col-md-3 text-center">
                <h5>Síguenos</h5>
                <button class="btn btn-dark me-2">
                    <a href="https://www.facebook.com/profile.php?id=100063623951157" target="_blank"
                        class="text-white fs-5">
                        <i class="bi bi-facebook"></i>
                    </a>
                </button>
                <button class="btn btn-dark me-2">
                    <a href="https://instagram.com/flacksbarber?igshid=NTc4MTIwNjQ2YQ==" target="_blank"
                        class="text-white fs-5">
                        <i class="bi bi-instagram"></i>
                    </a>
                </button>
                <button class="btn btn-dark me-2">
                    <a href="https://www.tiktok.com/@flacksbarber?_t=8cvDOtRYKEH&_r=1" target="_blank"
                        class="text-white fs-5">
                        <i class="bi bi-tiktok"></i>
                    </a>
                </button>
            </div>

            <!-- Navegación Secundaria -->
            <div class="col-md-3">
                <h5>Páginas del sitio web</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/home" class="text-white">Inicio</a></li>
                    <li><a routerLink="/services" class="text-white">Servicios</a></li>
                    <li><a routerLink="/products" class="text-white">Productos</a></li>
                </ul>
            </div>
        </div>
        <!-- <div class="row m-2">
            <div class="col text-center">
                <p class="small m-0">Desarrollado por CEMM</p>
            </div>
        </div> -->
    </div>
</footer>