<div class="text-center bg-light text-dark p-2">
    <p class="m-0">
        Abrimos de lunes a sábado de 10:00 am. a 9:00 pm. y los domingos de 10:00 am. a 3:00 pm.
    </p>
</div>

<div class="banner-1 d-flex justify-content-center align-items-center text-center vh-100 bg-cover bg-center bg-fixed">
    <div class="position-relative text-white d-flex flex-column justify-content-center align-items-center h-100">
        <h1 class="fw-bold display-2">FLACK'S BARBER SHOP</h1>
        <h4 class="display-5">💈 Estilo,talento & arte 🖌️</h4>

        <div class="d-grid gap-2 w-100 px-5">
            <a href="https://bit.ly/Whatsappflacks" target="_blank" class="btn btn-light btn-lg">
                Hacer una reservación
            </a>
        </div>
    </div>
</div>

<app-services></app-services>

<div class="banner-2 vh-100 bg-cover bg-center bg-fixed"></div>

<app-products></app-products>

<div class="bg-dark text-center py-4">
    <h3 class="text-white m-0 fw-bolder">NOS ENCONTRAMOS EN</h3>
</div>

<div class="bg-light text-center">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3774.7396774327626!2d-96.93297542528212!3d18.898626482269815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c4e5a2d092a067%3A0x75cb60b6b12c6940!2sFlack&#39;s%20Barber%20Shop!5e0!3m2!1ses-419!2smx!4v1724712830917!5m2!1ses-419!2smx"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>